WIFI_SSID=YOUR_SSID_HERE
WIFI_PASSWORD=YOUR_WIFI_PASSWORD_HERE
MQTT_BROKER_IP=192.168.1.100
MQTT_BROKER_PORT=1883
MQTT_USERNAME=YOUR_MQTT_USERNAME_HERE
MQTT_PASSWORD=YOUR_MQTT_PASSWORD_HERE
UNRAID_IP=192.168.1.50
UNRAID_PORT=8765
